<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QASE UI Suite">
    <test name="All UI tests">
        <classes>
            <class name="tests.ui.LoginTest"/>
            <class name="tests.ui.ProjectsTest"/>
            <class name="tests.ui.ProjectTest"/>
            <class name="tests.ui.ResetPasswordTest"/>
            <class name="tests.ui.SignUpTest"/>
            <class name="tests.ui.CreateCaseTest"/>
        </classes>
    </test>
</suite>
